.agrules
.agignore

__pycache__/
*.py[cod]
*$py.class

venv/
env/
.env
.venv
bin/
lib/

/data/*.csv
/data/*.json
/data/*.xlsx
*.zip
*.tar.gz

*.pth
*.pt
*.ckpt
*.h5
*.bin
/models/

/logs/
/runs/
*.log

gurobi.log
gurobi.lic

.ipynb_checkpoints

.vscode/

.DS_Store
Thumbs.db